<header class="header">
    <div class="logo-container">
        <a href="/" class="logo">ProClean</a>
    </div>
    <nav class="nav-links">
        <ul class="nav-links">
            <li><a href="/">¿Quienes somos?</a></li>
            <li><a href="/project-overview">¿Qué hacemos?</a></li>
            <li><a href="/user-stories">Historias de usuario</a></li>
            <li><a href="/class-schema">Diagrama de clases</a></li>
            <li><a href="/mockups">Diseño Interfaz</a></li>
        </ul>
    </nav>
</header>
