<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proclean"
        tools:targetApi="31">
        <activity
            android:name=".confirmacion_soporte_trabajador"
            android:exported="false" />
        <activity
            android:name=".soporte_trabajador"
            android:exported="false" />
        <activity
            android:name=".ver_servicio_especifico"
            android:exported="false" />
        <activity
            android:name=".confirmacion_final_trabajador_servicio"
            android:exported="false" />
        <activity
            android:name=".historial_de_servicios_trabajador"
            android:exported="false" />
        <activity
            android:name=".envio_confirmacion_servicio"
            android:exported="false" />
        <activity
            android:name=".aceptar_servicio_trabajador"
            android:exported="false" />
        <activity
            android:name=".busqueda_servicios_trabajador"
            android:exported="false" />
        <activity
            android:name=".menu_trabajador"
            android:exported="false" />
        <activity
            android:name=".registro_trabajador_parte_cuatro"
            android:exported="false" />
        <activity
            android:name=".registro_trabajador_parte_tres"
            android:exported="false" />
        <activity
            android:name=".registro_trabajador_parte_dos"
            android:exported="false" />
        <activity
            android:name=".registro_trabajador"
            android:exported="false" />
        <activity
            android:name=".registro_general"
            android:exported="false" />
        <activity
            android:name=".iniciar_sesion_general"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>